@import "./_variables.scss";
@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "./_overrides.scss";
@import "./custom.scss";
@import "./loaders.scss";

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $body-bg;
}

main {
  flex-grow: 1;
}

.title-font {
  font-family: 'Bangers', cursive;
}

.outline
{
    color: #ffffff;
    text-shadow:
    -2px -2px 0 #cc932a,
    2px -2px 0 #cc932a,
    -2px 2px 0 #cc932a,
    2px 2px 0 #cc932a;
}

input:focus {
  box-shadow: none!important;
}
input:active {
  box-shadow: none!important;
}
input::after {
box-shadow: none!important;
}
button:focus {
  box-shadow: none!important;
}

.fa-search {
  cursor: pointer;
}

.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


@media screen and (min-width: 601px) {
  #title {
    font-size: 4em;
  }
  #header-logo {
    max-height: 95px;
    max-width: 95px;
    object-fit: contain;
    position: absolute;
    left: .25em;
  }
}

@media screen and (max-width: 600px) {
  #title {
    font-size: 2em;
  }
  #header-logo {
      max-height: 45px;
      max-width: 45px;
      object-fit: contain;
      position: absolute;
      left: .25em;
  }
  #fake-input {
    width: 83%;
    min-height: 1.5em;
    line-height: 1.5em;
    padding: 0.5em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.541);
  }
}

.b-border {
  border-bottom: 2px solid $grey;
}

.img-contain {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
  object-fit: contain;
}

.logo {
  max-width: 50px;
  max-height: 50px;
  object-fit: contain;
}

.pos-logo {
  transform: translate(-33px, -45px);
}
.rotated {
  transform: rotate(-25deg);
}

.header-logo {
  max-height: 95px;
  max-width: 95px;
  object-fit: contain;
  position: absolute;
  left: .25em;
}

.icon-button {
  cursor: pointer;
}

.transparent {
  width: auto;
  background: none;
  border: none;
  border-bottom: 2px solid rgb(29, 29, 29);
  outline: none;
}

.transparent:focus {
  box-shadow: none;
  outline: none;
  background: #e1e1e17d;
  }
  .transparent::after {
    box-shadow: none;
    inset: none;
    outline: none;
    background: none;
  }
  
  .fake-input {
    width: 90.5%;
    min-height: 1.5em;
    line-height: 1.5em;
    padding: 0.5em;
    border-bottom: 1px solid rgba(128, 128, 128, 0.541);
  }

  